
{% extends "main.html" %}

{% block scripts %}
  {{ super() }}


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://apis.google.com/js/api.js"></script>
<script src="https://accounts.google.com/gsi/client"></script>

<script>



// https://developers.google.com/drive/api/quickstart/js
// https://developers.google.com/identity/oauth2/web/guides/use-token-model
// https://developers.google.com/identity/gsi/web/tools/configurator

gapi.load('client');


// ---------------------------------------------------------------
//
// Status Display
//
// ---------------------------------------------------------------
function enableIsRunning() {
  document.getElementById('bigfunction-progress').classList.remove('bu-is-hidden');
}
function disableIsRunning() {
  document.getElementById('bigfunction-progress').classList.add('bu-is-hidden');
}

function setProgressMessage(message) {
  const elem = document.getElementById('bigfunction-progress-message');
  if (elem.innerHTML) {
    elem.innerHTML += ' <span class="bu-has-text-success">SUCCESS!</span><br>';
  }
  elem.innerHTML += '> ' + message + '...';
}

function alert(errorMessage) {
  disableIsRunning();
  const alert = document.createElement('div');
  alert.innerHTML = `
    <div class="bu-modal bu-is-active">
      <div class="bu-modal-background"></div>
      <div class="bu-modal-card">
        <header class="bu-modal-card-head bu-has-background-danger">
          <p class="bu-modal-card-title bu-is-normal bu-has-text-white bu-is-size-5">ERROR!</p>
          <button class="bu-delete" aria-label="close"></button>
        </header>
        <section class="bu-modal-card-body">
          <p class="bu-is-size-7">${errorMessage}</p>
        </section>
      </div>
    </div>
  `;
  document.body.appendChild(alert);
  const modals = document.getElementsByClassName("bu-modal");
  document.querySelectorAll('.bu-modal-background, .bu-modal-close, .bu-modal-card-head .bu-delete, .bu-modal-card-foot .bu-button').forEach((elem) => {
    elem.addEventListener('click', () => {
      for (const modal of modals) {
        modal.classList.remove('bu-is-active');
      }
    });
  });
}


// ---------------------------------------------------------------
//
// Actions
//
// ---------------------------------------------------------------
function authenticate() {
  setProgressMessage('Authenticating with Google (needed to query your data)');
  const tokenClient = google.accounts.oauth2.initTokenClient({
    client_id: '749389685934-us0f5irn6vqkp2lq7vgjs6g8ek45f5ei.apps.googleusercontent.com',
    scope: 'https://www.googleapis.com/auth/bigquery',
    callback: (tokenResponse) => {
      if (tokenResponse && tokenResponse.access_token) {
        gapi.client.load('bigquery', 'v2', executeQuery);
      }
    },
  });
  tokenClient.requestAccessToken();
}

const TABLES_LOCATIONS = {};

function getTableLocation(fully_qualified_table) {
  setProgressMessage(`Getting your data location (to know which bigfunction to use)`);
  const [project, dataset, table] = fully_qualified_table.split('.');
  let request = gapi.client.bigquery.datasets.list({
    'projectId': project,
    'maxResults': 10000,
  });
  request.execute(response => {
    console.log(response);
    if (response.error) {
      return alert(response.error.message);
    }
    for (const _dataset of response.datasets) {
      if (_dataset.datasetReference.datasetId === dataset) {
        TABLES_LOCATIONS[fully_qualified_table] = _dataset.location;
        return executeQuery();
      }
    }
    return alert(`Could not find dataset ${dataset} in project ${project}`);
  });
}

function buildQuery(fully_qualified_table, location) {
  const bigfunction_dataset = location.replaceAll('-', '_').toLowerCase();
  return `
  call bigfunctions.${bigfunction_dataset}.explore_table('${fully_qualified_table.replaceAll("'", "")}');
  select html from bigfunction_result
  `;
}

function runQuery(query, project) {
  setProgressMessage('Running the following Query:<pre>' + query + '</pre>Be patient, it can take some minutes');
  let request = gapi.client.bigquery.jobs.query({
    'query': query,
    'timeoutMs': 600000,
    'projectId': project,
    'useLegacySql': false
  });
  request.execute(response => {
    console.log(response);
    if (response.error) {
      return alert(response.error.message);
    }
    disableIsRunning();
    showResult(response.rows[0]['f'][0]['v']);
  });
}

function setInnerHTML(elm, html) {
  elm.innerHTML = html;
  Array.from(elm.querySelectorAll('script')).forEach( oldScript => {
    const newScript = document.createElement('script');
    Array.from(oldScript.attributes)
      .forEach( attr => newScript.setAttribute(attr.name, attr.value) );
    newScript.appendChild(document.createTextNode(oldScript.innerHTML));
    oldScript.parentNode.replaceChild(newScript, oldScript);
  });
}

function showResult(html) {
  console.log('html', html);
  setInnerHTML(document.getElementById('result'), html)
}


// ---------------------------------------------------------------
//
// Execute Query
//
// ---------------------------------------------------------------
function executeQuery() {

  enableIsRunning();

  setProgressMessage('Checking arguments');
  const form = document.getElementById("function-form");
  const formData = new FormData(form);
  const fully_qualified_table = formData.get('fully_qualified_table');
  if (fully_qualified_table.split(".").length !== 3) {
    return alert('Fully Qualified Table param has wrong pattern.<br>➜ It should be like `project.dataset.table`');
  }

  if (gapi.client.getToken() === null) {
    return authenticate();
  }

  if (!TABLES_LOCATIONS[fully_qualified_table]) {
    return getTableLocation(fully_qualified_table);
  }

  const location = TABLES_LOCATIONS[fully_qualified_table];
  const query = buildQuery(fully_qualified_table, location);

  const project = fully_qualified_table.split(".")[0]
  runQuery(query, project);



}

</script>

{% endblock %}