type: function_sql
category: transform_array
author: Paul Marcombes
description: Return sorted array (descending)
arguments:
  - name: arr
    type: any type
output:
  name: sorted_array
  type: any type
examples:
  - description: ""
    arguments:
      - "[1, 4, 3]"
    output: "[4, 3, 1]"
code: array(select value from unnest(arr) as value order by value desc)
